* {
	box-sizing: border-box;
}

body {
	font-family: Verdana;
}

.see-console {
	font-size: 1.4em;
}

.display-gallery {
	width: 300px;
	margin: 0 auto;
	padding: 7px;
	text-align: center;
	background-color: lightblue;
	border: 2px solid black;
	border-radius: 8px;
}

.display-gallery:hover {
	background-color: lightgreen;
	cursor: pointer;
}

.gallery-container {
	width: 90vw;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.gallery-item {
	width: 40vw;
	height: 30vw;
	min-height: 260px;
	margin: 3px;
	background-size: cover;
	background-position: center;
}
